.feed {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Lato, sans-serif;
  flex-shrink: 0;
  overflow-y: scroll;
  border: 1px solid #d4d4d4;
  height: 100vh;
}

.feed-header {
  position: fixed;
  background-color: rgb(78, 42, 0);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.4rem;
  padding-left: 1rem;
  width: 33%;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192, 69, 69);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
