.IconButton {
  color: #00abc9;
}

.post-options {
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 400;
  color: #00abc9;
}

.post-options-likes {
  display: flex;
  align-items: center;
}
