.IconButton {
  color: rgba(0, 217, 255, 0.685);
}

.post-options {
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 400;
  color: rgba(0, 217, 255, 0.685);
}

.post-options-likes {
  display: flex;
  align-items: center;
}
