.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(212, 212, 212, 0.5);
  font-family: Lato, sans-serif;
  padding: 1rem;
}
