.right-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 7%;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.hidden {
  display: none;
}

.pop-up.visible {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(197, 197, 197);
  padding: 1rem;
  box-sizing: border-box;
  width: 60%;
}

.menu-btn {
  background-color: rgb(78, 42, 0);
  color: white;
  border: none;
  width: 60%;
  padding: 2%;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 5px 5px 5px rgb(197, 197, 197);
  cursor: pointer;
}

.menu-btn:active {
  box-shadow: 9px 9px 9px rgb(197, 197, 197);
  transform: translateY(4px);
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
