.feed {
  height: 100vh;
  flex-shrink: 1;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow-y: scroll;
  /*border-left: 1px solid rgba(255, 255, 255, 0.452);
  border-right: 1px solid rgba(255, 255, 255, 0.452);*/
  padding: 1rem;
  gap: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 248, 240);
}

/* Handle */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: rgb(78, 42, 0);
}
