.rounded {
  border-radius: 0.5rem !important;
}

@import "~bootstrap/scss/bootstrap.scss";

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(15, 15, 15);
  /*box-shadow: 5px 5px 5px rgba(212, 212, 212, 0.5);*/
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid #005a69;
}

.post-body-text {
  font-size: 1.2rem;
  padding: 5%;
}

.post-footer {
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #005a69;
  padding: 3%;
  padding-left: 3%;
  padding-right: 3%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /*background-color: rgba(0, 217, 255, 0.329);*/
}

.post-date {
  font-weight: 400;
}

.post-info {
  padding-top: 2%;
  padding-bottom: 2%;
}

/*hr {
  border: none;
  border-top: 2px dotted rgb(145, 145, 145);
  color: #fff;
  background-color: #fff;
  height: 0px;
  width: 100%;
}

.showOnHover {
  display: none;
}*/
