.post-options {
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 400;
  color: #00abc9;
}

.post-options-likes {
  color: #00abc9;
  display: flex;
  align-items: center;
}

.option-icons {
  color: #00abc9;
}

.liked {
  color: #ff0095;
}
